# An√°lise Explorat√≥ria

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("education.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            907 non-null    object
 1   City               907 non-null    object
 2   University         907 non-null    object
 3   Program            907 non-null    object
 4   Level              907 non-null    object
 5   Duration_Years     907 non-null    float64
 6   Tuition_USD        907 non-null    int64
 7   Living_Cost_Index  907 non-null    float64
 8   Rent_USD           907 non-null    int64
 9   Visa_Fee_USD       907 non-null    int64
 10  Insurance_USD      907 non-null    int64
 11  Exchange_Rate      907 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 85.2+ KB

In [4]:
df.head(5)

,Country,City,University,Program,Level,Duration_Years,Tuition_USD,Living_Cost_Index,Rent_USD,Visa_Fee_USD,Insurance_USD,Exchange_Rate
0,USA,Cambridge,Harvard University,Computer Science,Master,2.0,55400,83.5,2200,160,1500,1.00
1,UK,London,Imperial College London,Data Science,Master,1.0,41200,75.8,1800,485,800,0.79
2,Canada,Toronto,University of Toronto,Business Analytics,Master,2.0,38500,72.5,1600,235,900,1.35
3,Australia,Melbourne,University of Melbourne,Engineering,Master,2.0,42000,71.2,1400,450,650,1.52
4,Germany,Munich,Technical University of Munich,Mechanical Engineering,Master,2.0,500,70.5,1100,75,550,0.92

In [5]:
for col in ["University"]:
    print(f"Contagem de {col}:")
    print(df[col].value_counts().head(888))
    print()

Contagem de University:
University
University of Washington           6
Stanford University                5
Australian National University     5
University of Tasmania             5
University of Western Australia    5
                                  ..
USM                                1
Universidad Politecnica            1
Imperial College                   1
ITCA-FEPADE                        1
Andijan State University           1
Name: count, Length: 622, dtype: int64

In [7]:
for col in ["Program"]:
    print(f"Contagem de {col}:")
    print(df[col].value_counts().head(10))
    print()

unique_programs = df["Program"].unique().tolist()

print(unique_programs)

Contagem de Program:
Program
Computer Science           312
Data Science                82
Computer Engineering        71
Software Engineering        57
Artificial Intelligence     53
Data Analytics              50
Information Systems         40
Information Technology      24
Software Development        22
Data Engineering            19
Name: count, dtype: int64

['Computer Science', 'Data Science', 'Business Analytics', 'Engineering', 'Mechanical Engineering', 'Information Science', 'Artificial Intelligence', 'Finance', 'International Relations', 'Physics', 'Sustainable Technology', 'Bioinformatics', 'Computer Engineering', 'Digital Media', 'Data Analytics', 'Business', 'Marine Biology', 'Social Sciences', 'Biomedical Sciences', 'Aerospace Engineering', 'Industrial Engineering', 'Chemical Engineering', 'Mathematics', 'Political Science', 'Architecture', 'Electronics Engineering', 'Medicine', 'Electrical Engineering', 'Molecular Biology', 'Pharmaceutical Sciences', 'Robotics', 'Quantum Computing', 'Climate Science', 'Neuroscience', 'Economics', 'Psychology', 'International Business', 'Design', 'Environmental Science', 'Software Engineering', 'Information Systems', 'Information Technology', 'Software Development', 'Computing Science', 'Data Engineering', 'Software Systems', 'Digital Engineering', 'Robotics & AI', 'Cybersecurity', 'Computing Systems', 'Applied Mathematics', 'Software Science', 'Game Technology', 'Computer Science & Design', 'Data Science & AI', 'Technology & Innovation', 'Computing & Innovation', 'Digital Systems & AI', 'Digital Systems', 'Business Informatics', 'Computational Science', 'Digital Innovation', 'Robotics Engineering', 'AI Engineering', 'Computer Systems', 'Information Security', 'Computer Networks', 'Chemistry', 'Biotechnology', 'Marine Technology', 'Energy Engineering', 'Petroleum Engineering', 'Industrial Management', 'Mechatronics', 'Quantum Engineering', 'Environmental Engineering', 'Renewable Energy', 'Materials Science', 'Systems Engineering', 'Forestry Sciences', 'Photonics', 'Engineering Management', 'Engineering Physics', 'Sustainable Energy', 'Machine Learning', 'Environmental Computing', 'Computing', 'Electronics', 'Electronic Engineering', 'Digital Design', 'Digital Business', 'Data Systems']

In [6]:
new_df = df.groupby("Country")["Tuition_USD"].mean()
df_sorted = new_df.sort_values()
print(df_sorted.head(10))
print(df_sorted.tail(10))

Country
Argentina        0.000000
Finland          0.000000
Iceland          0.000000
Norway           0.000000
Sweden           0.000000
Greece         147.058824
Germany        177.272727
Luxembourg     400.000000
Brazil        1000.000000
Algeria       1100.000000
Name: Tuition_USD, dtype: float64
Country
Lebanon        14200.000000
Ireland        17890.000000
Hong Kong      22000.000000
UAE            24687.500000
New Zealand    29333.333333
Canada         29456.578947
UK             30341.935484
Singapore      34172.222222
Australia      34610.465116
USA            47742.307692
Name: Tuition_USD, dtype: float64

In [7]:
levels_df = df[df["Level"] == "Bachelor"]

levels_df.groupby("Program")["Tuition_USD"].mean().sort_values(ascending=False)

Program
Aerospace Engineering        52300.000000
Industrial Engineering       43800.000000
Chemical Engineering         40900.000000
Computer Science & Design    31200.000000
Psychology                   31200.000000
Political Science            28900.000000
Computer Science             28137.333333
Computing Systems            27500.000000
Software Systems             25500.000000
Physics                      23500.000000
Mathematics                  22066.666667
Finance                      22000.000000
Economics                    21600.000000
Engineering                  20900.000000
Business                     20450.000000
Information Technology       16328.571429
Marine Biology               14250.000000
Data Analytics               13287.500000
Software Engineering         11926.470588
Medicine                      9800.000000
Computer Engineering          9795.384615
Information Systems           7865.625000
Information Science           7800.000000
Software Development          7571.428571
Data Science                  7319.166667
Mechatronics                  5800.000000
Computing                     5500.000000
Robotics                      5200.000000
Electronics Engineering       5200.000000
Artificial Intelligence       4683.333333
Design                        4200.000000
Digital Systems               3900.000000
Biomedical Sciences           3500.000000
Architecture                  3150.000000
Data Engineering              2400.000000
Social Sciences               1500.000000
Business Informatics          1440.000000
Computer Systems              1300.000000
Digital Innovation             890.000000
Mechanical Engineering         750.000000
Environmental Science            0.000000
Energy Engineering               0.000000
Digital Business                 0.000000
International Business           0.000000
Name: Tuition_USD, dtype: float64

In [8]:
import pandas as pd
from geopy.geocoders import Nominatim
import time

education = pd.read_csv('education.csv')
geolocator = Nominatim(user_agent="education_geocoder")

cache = {}

def get_coords(row):
    key = (row['City'].strip().lower(), row['Country'].strip().lower())
    if key in cache:
        return cache[key]

    try:
        location = geolocator.geocode(f"{row['City']}, {row['Country']}")
    except:
        cache[key] = (None, None)
        return (None, None)

    if location:
        coords = (location.latitude, location.longitude)
        print(coords)
    else:
        coords = (None, None)

    cache[key] = coords
    print(f"{key} -> {coords}")
    return coords

## Convertendo para json

Mais f√°cil de trabalhar com json no javascript

In [31]:
import csv
import json
import pandas as pd
from fuzzywuzzy import process

csv_file = 'education_with_coords.csv'
json_file = 'education.json'

# Dicion√°rio para mapear os pa√≠ses para seus continentes
country_to_continent = {
    'USA': 'North America',
    'Canada': 'North America',
    'Mexico': 'North America',
    'Dominican Republic': 'Central America',
    'Panama': 'Central America',
    'El Salvador': 'Central America',
    'Brazil': 'South America',
    'Argentina': 'South America',
    'Colombia': 'South America',
    'Uruguay': 'South America',
    'Peru': 'South America',
    'Ecuador': 'South America',
    'UK': 'Europe',
    'Germany': 'Europe',
    'Netherlands': 'Europe',
    'France': 'Europe',
    'Switzerland': 'Europe',
    'Sweden': 'Europe',
    'Denmark': 'Europe',
    'Ireland': 'Europe',
    'Austria': 'Europe',
    'Belgium': 'Europe',
    'Portugal': 'Europe',
    'Czech Republic': 'Europe',
    'Poland': 'Europe',
    'Spain': 'Europe',
    'Italy': 'Europe',
    'Finland': 'Europe',
    'Norway': 'Europe',
    'Turkey': 'Europe',
    'Russia': 'Europe',
    'Greece': 'Europe',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'Romania': 'Europe',
    'Luxembourg': 'Europe',
    'Bulgaria': 'Europe',
    'Slovenia': 'Europe',
    'Serbia': 'Europe',
    'Ukraine': 'Europe',
    'Croatia': 'Europe',
    'Cyprus': 'Europe',
    'Australia': 'Oceania',
    'New Zealand': 'Oceania',
    'China': 'Asia',
    'Japan': 'Asia',
    'South Korea': 'Asia',
    'Singapore': 'Asia',
    'Hong Kong': 'Asia',
    'Israel': 'Asia',
    'Taiwan': 'Asia',
    'India': 'Asia',
    'Malaysia': 'Asia',
    'Thailand': 'Asia',
    'UAE': 'Asia',
    'Vietnam': 'Asia',
    'Iran': 'Asia',
    'Uzbekistan': 'Asia',
    'Bangladesh': 'Asia',
    'Saudi Arabia': 'Asia',
    'Kuwait': 'Asia',
    'Lebanon': 'Asia',
    'Bahrain': 'Asia',
    'Indonesia': 'Asia',
    'South Africa': 'Africa',
    'Egypt': 'Africa',
    'Morocco': 'Africa',
    'Nigeria': 'Africa',
    'Ghana': 'Africa',
    'Algeria': 'Africa',
    'Tunisia': 'Africa'
}

# Carregar o arquivo de ranking
df_ranking = pd.read_csv('cwurData.csv')

# Criar um dicion√°rio de universidades e seus rankings
university_rank = dict(zip(df_ranking['institution'], df_ranking['world_rank']))

# Lista para armazenar os dados
data = []

# Abrir o arquivo CSV de educa√ß√£o e processar linha por linha
with open(csv_file, encoding='utf-8') as f:
    reader = csv.DictReader(f)
    for row in reader:
        country = row['Country']
        continent = country_to_continent.get(country, 'Unknown')
        row['Continent'] = continent
        
        # Adicionar o ranking da universidade usando fuzzy matching
        university_name = row['University']
        # Usar fuzzywuzzy para buscar o nome mais pr√≥ximo no ranking
        closest_match, score = process.extractOne(
            university_name,
            df_ranking['institution'].tolist()  # lista simples
        )
        
        # Se a correspond√™ncia for suficientemente boa (score > 80), adiciona o ranking
        if score > 95:
            row['world_rank'] = university_rank.get(closest_match, 'Unknown')
        else:
            row['world_rank'] = 'Unknown'

        data.append(row)

# Escrever os dados processados no arquivo JSON
with open(json_file, 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=2)

print(f'Converted {csv_file} to {json_file} with {len(data)} records.')

Converted education_with_coords.csv to education.json with 907 records.

In [11]:
import json

# 1) Defina as categorias e quais cursos pertencem a cada uma
categories = {
    "Computa√ß√£o & TI": [
        "Computer Science", "Software Engineering", "Data Science",
        "Information Technology", "Information Systems", "Information Science",
        "Data Engineering", "Software Development", "Software Science",
        "Software Systems", "Computing Science", "Computing Systems",
        "Computing", "Computer Engineering", "Computer Systems",
        "Cybersecurity", "Information Security", "Computer Networks",
        "Digital Systems", "Digital Systems & AI", "Digital Engineering",
        "Data Systems", "Business Informatics", "Game Technology",
        "Robotics", "Robotics & AI", "AI Engineering", "Machine Learning",
        "Environmental Computing", "Computing & Innovation",
        "Digital Innovation", "Technology & Innovation", "Data Science & AI", "Artificial Inteligence"
    ],
    "Engenharias": [
        "Engineering", "Mechanical Engineering", "Electrical Engineering",
        "Chemical Engineering", "Industrial Engineering", "Aerospace Engineering",
        "Petroleum Engineering", "Energy Engineering", "Environmental Engineering",
        "Materials Science", "Systems Engineering", "Engineering Management",
        "Engineering Physics", "Electronic Engineering", "Electronics Engineering",
        "Mechatronics", "Photonics", "Quantum Engineering", "Robotics Engineering"
    ],
    "Ci√™ncias da Sa√∫de": [
        "Medicine", "Biomedical Sciences", "Pharmaceutical Sciences",
        "Bioinformatics", "Molecular Biology", "Neuroscience", "Biotechnology"
    ],
    "Ci√™ncias Exatas & Matem√°tica": [
        "Mathematics", "Applied Mathematics", "Physics", "Chemistry",
        "Computational Science", "Quantum Computing"
    ],
    "Ci√™ncias Naturais & Ambientais": [
        "Environmental Science", "Climate Science", "Marine Biology",
        "Marine Technology", "Forestry Sciences"
    ],
    "Neg√≥cios & Economia": [
        "Business", "International Business", "Economics", "Finance",
        "Business Analytics", "Data Analytics"
    ],
    "Ci√™ncias Sociais & Humanas": [
        "Psychology", "Political Science", "International Relations",
        "Social Sciences"
    ],
    "Artes, Design & M√≠dia": [
        "Architecture", "Design", "Digital Media", "Digital Business",
        "Digital Design"
    ],
    "Energia & Sustentabilidade": [
        "Sustainable Technology", "Renewable Energy", "Sustainable Energy"
    ]
}

# 2) Inverte o dict para um mapeamento direto programa -> categoria
program_to_category = {
    prog: cat
    for cat, progs in categories.items()
    for prog in progs
}

# 3) Fun√ß√£o de categoria com fallback
def categorize(program_name):
    return program_to_category.get(program_name, "Outros")

# 4) Leia, adicione a coluna e escreva o novo JSON
with open(r"..\static\education.json", "r", encoding="utf-8") as f_in:
    data = json.load(f_in)

for entry in data:
    prog = entry.get("Program", "")
    entry["course_category"] = categorize(prog)

with open(r"education2.json", "w", encoding="utf-8") as f_out:
    json.dump(data, f_out, ensure_ascii=False, indent=2)

print("Gerado static\\education2.json com a coluna course_category üëç")

Gerado static\education2.json com a coluna course_category üëç