# Análise Exploratória

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("education.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            907 non-null    object
 1   City               907 non-null    object
 2   University         907 non-null    object
 3   Program            907 non-null    object
 4   Level              907 non-null    object
 5   Duration_Years     907 non-null    float64
 6   Tuition_USD        907 non-null    int64
 7   Living_Cost_Index  907 non-null    float64
 8   Rent_USD           907 non-null    int64
 9   Visa_Fee_USD       907 non-null    int64
 10  Insurance_USD      907 non-null    int64
 11  Exchange_Rate      907 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 85.2+ KB

In [4]:
df.head(5)

,Country,City,University,Program,Level,Duration_Years,Tuition_USD,Living_Cost_Index,Rent_USD,Visa_Fee_USD,Insurance_USD,Exchange_Rate
0,USA,Cambridge,Harvard University,Computer Science,Master,2.0,55400,83.5,2200,160,1500,1.00
1,UK,London,Imperial College London,Data Science,Master,1.0,41200,75.8,1800,485,800,0.79
2,Canada,Toronto,University of Toronto,Business Analytics,Master,2.0,38500,72.5,1600,235,900,1.35
3,Australia,Melbourne,University of Melbourne,Engineering,Master,2.0,42000,71.2,1400,450,650,1.52
4,Germany,Munich,Technical University of Munich,Mechanical Engineering,Master,2.0,500,70.5,1100,75,550,0.92

In [12]:
for col in ["University"]:
    print(f"Contagem de {col}:")
    print(df[col].value_counts().head(888))
    print()

Contagem de University:
University
University of Washington           6
Stanford University                5
Australian National University     5
University of Tasmania             5
University of Western Australia    5
                                  ..
USM                                1
Universidad Politecnica            1
Imperial College                   1
ITCA-FEPADE                        1
Andijan State University           1
Name: count, Length: 622, dtype: int64

In [51]:
for col in ["University", "Program"]:
    print(f"Contagem de {col}:")
    print(df[col].value_counts().head(10))
    print()

Contagem de University:
University
University of Washington           6
Stanford University                5
Australian National University     5
University of Tasmania             5
University of Western Australia    5
University of Adelaide             5
Griffith University                5
University of Sydney               5
University of Melbourne            5
University of Wollongong           5
Name: count, dtype: int64

Contagem de Program:
Program
Computer Science           312
Data Science                82
Computer Engineering        71
Software Engineering        57
Artificial Intelligence     53
Data Analytics              50
Information Systems         40
Information Technology      24
Software Development        22
Data Engineering            19
Name: count, dtype: int64

In [39]:
new_df = df.groupby("Country")["Tuition_USD"].mean()
df_sorted = new_df.sort_values()
print(df_sorted.head(10))
print(df_sorted.tail(10))

Country
Argentina        0.000000
Finland          0.000000
Iceland          0.000000
Norway           0.000000
Sweden           0.000000
Greece         147.058824
Germany        177.272727
Luxembourg     400.000000
Brazil        1000.000000
Algeria       1100.000000
Name: Tuition_USD, dtype: float64
Country
Lebanon        14200.000000
Ireland        17890.000000
Hong Kong      22000.000000
UAE            24687.500000
New Zealand    29333.333333
Canada         29456.578947
UK             30341.935484
Singapore      34172.222222
Australia      34610.465116
USA            47742.307692
Name: Tuition_USD, dtype: float64

In [ ]:
levels_df = df[df["Level"] == "Bachelor"]

levels_df.groupby("Program")["Tuition_USD"].mean().sort_values(ascending=False)

Program
Aerospace Engineering        52300.000000
Industrial Engineering       43800.000000
Chemical Engineering         40900.000000
Computer Science & Design    31200.000000
Psychology                   31200.000000
Political Science            28900.000000
Computer Science             28137.333333
Computing Systems            27500.000000
Software Systems             25500.000000
Physics                      23500.000000
Mathematics                  22066.666667
Finance                      22000.000000
Economics                    21600.000000
Engineering                  20900.000000
Business                     20450.000000
Information Technology       16328.571429
Marine Biology               14250.000000
Data Analytics               13287.500000
Software Engineering         11926.470588
Medicine                      9800.000000
Computer Engineering          9795.384615
Information Systems           7865.625000
Information Science           7800.000000
Software Development          7571.428571
Data Science                  7319.166667
Mechatronics                  5800.000000
Computing                     5500.000000
Robotics                      5200.000000
Electronics Engineering       5200.000000
Artificial Intelligence       4683.333333
Design                        4200.000000
Digital Systems               3900.000000
Biomedical Sciences           3500.000000
Architecture                  3150.000000
Data Engineering              2400.000000
Social Sciences               1500.000000
Business Informatics          1440.000000
Computer Systems              1300.000000
Digital Innovation             890.000000
Mechanical Engineering         750.000000
Environmental Science            0.000000
Energy Engineering               0.000000
Digital Business                 0.000000
International Business           0.000000
Name: Tuition_USD, dtype: float64

In [ ]:
import pandas as pd
from geopy.geocoders import Nominatim
import time

education = pd.read_csv('education.csv')
geolocator = Nominatim(user_agent="education_geocoder")

cache = {}

def get_coords(row):
    key = (row['City'].strip().lower(), row['Country'].strip().lower())
    if key in cache:
        return cache[key]

    try:
        location = geolocator.geocode(f"{row['City']}, {row['Country']}")
    except:
        cache[key] = (None, None)
        return (None, None)

    if location:
        coords = (location.latitude, location.longitude)
        print(coords)
    else:
        coords = (None, None)

    cache[key] = coords
    print(f"{key} -> {coords}")
    return coords

(42.3656347, -71.1040018)
('cambridge', 'usa') -> (42.3656347, -71.1040018)
(51.5074456, -0.1277653)
('london', 'uk') -> (51.5074456, -0.1277653)
(43.6534817, -79.3839347)
('toronto', 'canada') -> (43.6534817, -79.3839347)
(-37.8142454, 144.9631732)
('melbourne', 'australia') -> (-37.8142454, 144.9631732)
(48.1371079, 11.5753822)
('munich', 'germany') -> (48.1371079, 11.5753822)
(35.6768601, 139.7638947)
('tokyo', 'japan') -> (35.6768601, 139.7638947)
(52.3730796, 4.8924534)
('amsterdam', 'netherlands') -> (52.3730796, 4.8924534)
(1.357107, 103.8194992)
('singapore', 'singapore') -> (1.357107, 103.8194992)
(48.8534951, 2.3483915)
('paris', 'france') -> (48.8534951, 2.3483915)
(47.3744489, 8.5410422)
('zurich', 'switzerland') -> (47.3744489, 8.5410422)
(59.3251172, 18.0710935)
('stockholm', 'sweden') -> (59.3251172, 18.0710935)
(55.6867243, 12.5700724)
('copenhagen', 'denmark') -> (55.6867243, 12.5700724)
(37.5666791, 126.9782914)
('seoul', 'south korea') -> (37.5666791, 126.9782914)
(53.3493795, -6.2605593)
('dublin', 'ireland') -> (53.3493795, -6.2605593)
(35.1799528, 129.0752365)
('busan', 'south korea') -> (35.1799528, 129.0752365)
(-36.852095, 174.7631803)
('auckland', 'new zealand') -> (-36.852095, 174.7631803)
(48.2083537, 16.3725042)
('vienna', 'austria') -> (48.2083537, 16.3725042)
(50.8465573, 4.351697)
('brussels', 'belgium') -> (50.8465573, 4.351697)
(42.2813722, -83.7484616)
('ann arbor', 'usa') -> (42.2813722, -83.7484616)
(33.7544657, -84.3898151)
('atlanta', 'usa') -> (33.7544657, -84.3898151)
(30.2711286, -97.7436995)
('austin', 'usa') -> (30.2711286, -97.7436995)
(51.4538022, -2.5972985)
('bristol', 'uk') -> (51.4538022, -2.5972985)
(45.4208777, -75.6901106)
('ottawa', 'canada') -> (45.4208777, -75.6901106)
(22.2793278, 114.1628131)
('hong kong', 'hong kong') -> (22.2793278, 114.1628131)
(38.7077507, -9.1365919)
('lisbon', 'portugal') -> (38.7077507, -9.1365919)
(32.0852997, 34.7818064)
('tel aviv', 'israel') -> (32.0852997, 34.7818064)
(25.0375198, 121.5636796)
('taipei', 'taiwan') -> (25.0375198, 121.5636796)
(50.0596288, 14.4464593)
('prague', 'czech republic') -> (50.0596288, 14.4464593)
(37.4265407, -122.1703055)
('stanford', 'usa') -> (37.4265407, -122.1703055)
(42.3554334, -71.060511)
('boston', 'usa') -> (42.3554334, -71.060511)
(51.7520131, -1.2578499)
('oxford', 'uk') -> (51.7520131, -1.2578499)
(52.2055314, 0.1186637)
('cambridge', 'uk') -> (52.2055314, 0.1186637)
(49.4093582, 8.694724)
('heidelberg', 'germany') -> (49.4093582, 8.694724)
(47.5581077, 7.5878261)
('basel', 'switzerland') -> (47.5581077, 7.5878261)
(52.0114017, 4.35839)
('delft', 'netherlands') -> (52.0114017, 4.35839)
(43.4652699, -80.5222961)
('waterloo', 'canada') -> (43.4652699, -80.5222961)
(-35.2975906, 149.1012676)
('canberra', 'australia') -> (-35.2975906, 149.1012676)
(55.7029296, 13.1929449)
('lund', 'sweden') -> (55.7029296, 13.1929449)
(32.7174202, -117.162772)
('san diego', 'usa') -> (32.7174202, -117.162772)
(47.6038321, -122.330062)
('seattle', 'usa') -> (47.6038321, -122.330062)
(53.5462055, -113.491241)
('edmonton', 'canada') -> (53.5462055, -113.491241)
(55.861155, -4.2501687)
('glasgow', 'uk') -> (55.861155, -4.2501687)
(12.9881567, 77.6226)
('bangalore', 'india') -> (12.9881567, 77.6226)
(57.0462626, 9.9215263)
('aalborg', 'denmark') -> (57.0462626, 9.9215263)
(52.2337172, 21.0714322)
('warsaw', 'poland') -> (52.2337172, 21.0714322)
(53.2744122, -9.0490601)
('galway', 'ireland') -> (53.2744122, -9.0490601)
(36.3497007, 127.3849016)
('daejeon', 'south korea') -> (36.3497007, 127.3849016)
(3.1526589, 101.7022205)
('kuala lumpur', 'malaysia') -> (3.1526589, 101.7022205)
(37.8708393, -122.272863)
('berkeley', 'usa') -> (37.8708393, -122.272863)
(53.4794892, -2.2451148)
('manchester', 'uk') -> (53.4794892, -2.2451148)
(49.2608724, -123.113952)
('vancouver', 'canada') -> (49.2608724, -123.113952)
(-33.8698439, 151.2082848)
('sydney', 'australia') -> (-33.8698439, 151.2082848)
(52.510885, 13.3989367)
('berlin', 'germany') -> (52.510885, 13.3989367)
(41.3825802, 2.177073)
('barcelona', 'spain') -> (41.3825802, 2.177073)
(45.4641943, 9.1896346)
('milan', 'italy') -> (45.4641943, 9.1896346)
(51.9244424, 4.47775)
('rotterdam', 'netherlands') -> (51.9244424, 4.47775)
(60.1674881, 24.9427473)
('helsinki', 'finland') -> (60.1674881, 24.9427473)
(59.9133301, 10.7389701)
('oslo', 'norway') -> (59.9133301, 10.7389701)
(34.6937569, 135.5014539)
('osaka', 'japan') -> (34.6937569, 135.5014539)
(35.0115754, 135.7681441)
('kyoto', 'japan') -> (35.0115754, 135.7681441)
(35.1851045, 136.8998438)
('nagoya', 'japan') -> (35.1851045, 136.8998438)
(38.2677554, 140.8691498)
('sendai', 'japan') -> (38.2677554, 140.8691498)
(33.6251241, 130.6180016)
('fukuoka', 'japan') -> (33.6251241, 130.6180016)
(43.061936, 141.3542924)
('sapporo', 'japan') -> (43.061936, 141.3542924)
(36.0833265, 140.077279)
('tsukuba', 'japan') -> (36.0833265, 140.077279)
(34.6932379, 135.1943764)
('kobe', 'japan') -> (34.6932379, 135.1943764)
(36.561627, 136.6568822)
('kanazawa', 'japan') -> (36.561627, 136.6568822)
(34.3917241, 132.4517589)
('hiroshima', 'japan') -> (34.3917241, 132.4517589)
(-34.9281805, 138.5999312)
('adelaide', 'australia') -> (-34.9281805, 138.5999312)
(-31.9558967, 115.8605784)
('perth', 'australia') -> (-31.9558967, 115.8605784)
(-28.0023731, 153.4145987)
('gold coast', 'australia') -> (-28.0023731, 153.4145987)
(-42.8825088, 147.3281233)
('hobart', 'australia') -> (-42.8825088, 147.3281233)
(-32.9192953, 151.7795348)
('newcastle', 'australia') -> (-32.9192953, 151.7795348)
(-34.4243941, 150.89385)
('wollongong', 'australia') -> (-34.4243941, 150.89385)
(-12.46044, 130.8410469)
('darwin', 'australia') -> (-12.46044, 130.8410469)
(-19.2569391, 146.8239537)
('townsville', 'australia') -> (-19.2569391, 146.8239537)
(-26.6544338, 153.0933668)
('sunshine coast', 'australia') -> (-26.6544338, 153.0933668)
(-30.5144881, 151.6656564)
('armidale', 'australia') -> (-30.5144881, 151.6656564)
(51.0493286, 13.7381437)
('dresden', 'germany') -> (51.0493286, 13.7381437)
(48.7784485, 9.1800132)
('stuttgart', 'germany') -> (48.7784485, 9.1800132)
(53.550341, 10.000654)
('hamburg', 'germany') -> (53.550341, 10.000654)
(50.776351, 6.083862)
('aachen', 'germany') -> (50.776351, 6.083862)
(49.0068705, 8.4034195)
('karlsruhe', 'germany') -> (49.0068705, 8.4034195)
(49.8851869, 8.6736295)
('darmstadt', 'germany') -> (49.8851869, 8.6736295)
(52.2646577, 10.5236066)
('braunschweig', 'germany') -> (52.2646577, 10.5236066)
(50.9281717, 11.5879359)
('jena', 'germany') -> (50.9281717, 11.5879359)
(52.3744779, 9.7385532)
('hannover', 'germany') -> (52.3744779, 9.7385532)
(47.9960901, 7.8494005)
('freiburg', 'germany') -> (47.9960901, 7.8494005)
(39.9527237, -75.1635262)
('philadelphia', 'usa') -> (39.9527237, -75.1635262)
(41.8755616, -87.6244212)
('chicago', 'usa') -> (41.8755616, -87.6244212)
(39.2908816, -76.610759)
('baltimore', 'usa') -> (39.2908816, -76.610759)
(36.1622767, -86.7742984)
('nashville', 'usa') -> (36.1622767, -86.7742984)
(35.996653, -78.9018053)
('durham', 'usa') -> (35.996653, -78.9018053)
(43.074761, -89.3837613)
('madison', 'usa') -> (43.074761, -89.3837613)
(33.4255117, -111.940016)
('tempe', 'usa') -> (33.4255117, -111.940016)
(40.0149856, -105.270545)
('boulder', 'usa') -> (40.0149856, -105.270545)
(44.9772995, -93.2654692)
('minneapolis', 'usa') -> (44.9772995, -93.2654692)
(40.7474784, -92.3965311)
('davis', 'usa') -> (40.7474784, -92.3965311)
(53.7974185, -1.5437941)
('leeds', 'uk') -> (53.7974185, -1.5437941)
(52.2814519, -1.5815742)
('warwick', 'uk') -> (52.2814519, -1.5815742)
(53.3806626, -1.4702278)
('sheffield', 'uk') -> (53.3806626, -1.4702278)
(52.4796992, -1.9026911)
('birmingham', 'uk') -> (52.4796992, -1.9026911)
(50.9025349, -1.404189)
('southampton', 'uk') -> (50.9025349, -1.404189)
(52.9534193, -1.1496461)
('nottingham', 'uk') -> (52.9534193, -1.1496461)
(51.4816546, -3.1791934)
('cardiff', 'uk') -> (51.4816546, -3.1791934)
(54.5975804, -5.9277097)
('belfast', 'uk') -> (54.5975804, -5.9277097)
(54.9738474, -1.6131572)
('newcastle', 'uk') -> (54.9738474, -1.6131572)
(43.2560802, -79.8728583)
('hamilton', 'canada') -> (43.2560802, -79.8728583)
(42.9832406, -81.243372)
('london on', 'canada') -> (42.9832406, -81.243372)
(44.648618, -63.5859487)
('halifax', 'canada') -> (44.648618, -63.5859487)
(48.4283182, -123.364953)
('victoria', 'canada') -> (48.4283182, -123.364953)
(46.8137431, -71.2084061)
('quebec city', 'canada') -> (46.8137431, -71.2084061)
(49.8955367, -97.1384584)
('winnipeg', 'canada') -> (49.8955367, -97.1384584)
(50.4479733, -104.6158764)
('regina', 'canada') -> (50.4479733, -104.6158764)
(47.5614705, -52.7126162)
("st. john's", 'canada') -> (47.5614705, -52.7126162)
(52.131802, -106.660767)
('saskatoon', 'canada') -> (52.131802, -106.660767)
(45.403271, -71.889038)
('sherbrooke', 'canada') -> (45.403271, -71.889038)
(40.4416941, -79.9900861)
('pittsburgh', 'usa') -> (40.4416941, -79.9900861)
(40.0761545, -88.2233134)
('urbana-champaign', 'usa') -> (40.0761545, -88.2233134)
(51.0456064, -114.057541)
('calgary', 'canada') -> (51.0456064, -114.057541)
(-23.5506507, -46.6333824)
('sao paulo', 'brazil') -> (-23.5506507, -46.6333824)
(41.006381, 28.9758715)
('istanbul', 'turkey') -> (41.006381, 28.9758715)
(55.625578, 37.6063916)
('moscow', 'russia') -> (55.625578, 37.6063916)
(19.3207722, -99.1514678)
('mexico city', 'mexico') -> (19.3207722, -99.1514678)
(37.9755648, 23.7348324)
('athens', 'greece') -> (37.9755648, 23.7348324)
(13.7524938, 100.4935089)
('bangkok', 'thailand') -> (13.7524938, 100.4935089)
(25.0742823, 55.1885387)
('dubai', 'uae') -> (25.0742823, 55.1885387)
(40.7127281, -74.0060152)
('new york', 'usa') -> (40.7127281, -74.0060152)
(42.4374175, -76.5483724)
('ithaca', 'usa') -> (42.4374175, -76.5483724)
(22.5445741, 114.0545429)
('shenzhen', 'china') -> (22.5445741, 114.0545429)
(-33.9288301, 18.4172197)
('cape town', 'south africa') -> (-33.9288301, 18.4172197)
(30.0443879, 31.2357257)
('cairo', 'egypt') -> (30.0443879, 31.2357257)
(-34.6083696, -58.4440583)
('buenos aires', 'argentina') -> (-34.6083696, -58.4440583)
(-6.1754049, 106.827168)
('jakarta', 'indonesia') -> (-6.1754049, 106.827168)
(23.333333, 45.333333)
('riyadh', 'saudi arabia') -> (23.333333, 45.333333)
(6.4550575, 3.3941795)
('lagos', 'nigeria') -> (6.4550575, 3.3941795)
(10.7763897, 106.7011391)
('ho chi minh city', 'vietnam') -> (10.7763897, 106.7011391)
(51.4392648, 5.478633)
('eindhoven', 'netherlands') -> (51.4392648, 5.478633)
(52.2209855, 6.8940537)
('enschede', 'netherlands') -> (52.2209855, 6.8940537)
(53.2190652, 6.5680077)
('groningen', 'netherlands') -> (53.2190652, 6.5680077)
(50.8512438, 5.6909768)
('maastricht', 'netherlands') -> (50.8512438, 5.6909768)
(51.8425749, 5.8389606)
('nijmegen', 'netherlands') -> (51.8425749, 5.8389606)
(51.5856184, 5.0660616)
('tilburg', 'netherlands') -> (51.5856184, 5.0660616)
(52.0907006, 5.1215634)
('utrecht', 'netherlands') -> (52.0907006, 5.1215634)
(52.1594747, 4.4908843)
('leiden', 'netherlands') -> (52.1594747, 4.4908843)
(51.9685817, 5.6682981)
('wageningen', 'netherlands') -> (51.9685817, 5.6682981)
(43.6044622, 1.4442469)
('toulouse', 'france') -> (43.6044622, 1.4442469)
(45.7578137, 4.8320114)
('lyon', 'france') -> (45.7578137, 4.8320114)
(45.1875602, 5.7357819)
('grenoble', 'france') -> (45.1875602, 5.7357819)
(43.7009358, 7.2683912)
('nice', 'france') -> (43.7009358, 7.2683912)
(44.841225, -0.5800364)
('bordeaux', 'france') -> (44.841225, -0.5800364)
(50.6365654, 3.0635282)
('lille', 'france') -> (50.6365654, 3.0635282)
(48.1113387, -1.6800198)
('rennes', 'france') -> (48.1113387, -1.6800198)
(48.584614, 7.7507127)
('strasbourg', 'france') -> (48.584614, 7.7507127)
(43.6112422, 3.8767337)
('montpellier', 'france') -> (43.6112422, 3.8767337)
(46.5218269, 6.6327025)
('lausanne', 'switzerland') -> (46.5218269, 6.6327025)
(46.2017559, 6.1466014)
('geneva', 'switzerland') -> (46.2017559, 6.1466014)
(46.9484742, 7.4521749)
('bern', 'switzerland') -> (46.9484742, 7.4521749)
(47.425618, 9.3762397)
('st. gallen', 'switzerland') -> (47.425618, 9.3762397)
(46.0050102, 8.9520281)
('lugano', 'switzerland') -> (46.0050102, 8.9520281)
(46.8055656, 7.1612669)
('fribourg', 'switzerland') -> (46.8055656, 7.1612669)
(46.9895828, 6.9292641)
('neuchatel', 'switzerland') -> (46.9895828, 6.9292641)
(47.0505452, 8.3054682)
('lucerne', 'switzerland') -> (47.0505452, 8.3054682)
(47.4991723, 8.7291498)
('winterthur', 'switzerland') -> (47.4991723, 8.7291498)
(56.1496278, 10.2134046)
('aarhus', 'denmark') -> (56.1496278, 10.2134046)
(31.2312707, 121.4700152)
('shanghai', 'china') -> (31.2312707, 121.4700152)
(30.2489634, 120.2052342)
('hangzhou', 'china') -> (30.2489634, 120.2052342)
(32.0438284, 118.7788631)
('nanjing', 'china') -> (32.0438284, 118.7788631)
(23.1301964, 113.2592945)
('guangzhou', 'china') -> (23.1301964, 113.2592945)
(30.5951051, 114.2999353)
('wuhan', 'china') -> (30.5951051, 114.2999353)
(34.261004, 108.9423363)
("xi'an", 'china') -> (34.261004, 108.9423363)
(30.6598628, 104.0633717)
('chengdu', 'china') -> (30.6598628, 104.0633717)
(35.8713, 128.6018)
('daegu', 'south korea') -> (35.8713, 128.6018)
(35.1594647, 126.8515034)
('gwangju', 'south korea') -> (35.1594647, 126.8515034)
(35.5391697, 129.3119136)
('ulsan', 'south korea') -> (35.5391697, 129.3119136)
(36.0189315, 129.3429384)
('pohang', 'south korea') -> (36.0189315, 129.3429384)
(37.456, 126.7052)
('incheon', 'south korea') -> (37.456, 126.7052)
(37.2633325, 127.0287472)
('suwon', 'south korea') -> (37.2633325, 127.0287472)
(36.6421169, 127.4891742)
('cheongju', 'south korea') -> (36.6421169, 127.4891742)
(41.3082138, -72.9250518)
('new haven', 'usa') -> (41.3082138, -72.9250518)
(40.3496953, -74.6597376)
('princeton', 'usa') -> (40.3496953, -74.6597376)
(34.0536909, -118.242766)
('los angeles', 'usa') -> (34.0536909, -118.242766)
(40.1117174, -88.207301)
('urbana', 'usa') -> (40.1117174, -88.207301)
(39.9622601, -83.0007065)
('columbus', 'usa') -> (39.9622601, -83.0007065)
(40.4258686, -86.9080655)
('west lafayette', 'usa') -> (40.4258686, -86.9080655)
(29.6519684, -82.3249846)
('gainesville', 'usa') -> (29.6519684, -82.3249846)
(35.7803977, -78.6390989)
('raleigh', 'usa') -> (35.7803977, -78.6390989)
(30.6183939, -96.3455991)
('college station', 'usa') -> (30.6183939, -96.3455991)
(44.5645659, -123.2620435)
('corvallis', 'usa') -> (44.5645659, -123.2620435)
(55.9533456, -3.1883749)
('edinburgh', 'uk') -> (55.9533456, -3.1883749)
(54.666667, -1.75)
('durham', 'uk') -> (54.666667, -1.75)
(53.4071991, -2.99168)
('liverpool', 'uk') -> (53.4071991, -2.99168)
(57.1482429, -2.0928095)
('aberdeen', 'uk') -> (57.1482429, -2.0928095)
(52.6362, -1.1331969)
('leicester', 'uk') -> (52.6362, -1.1331969)
(51.4514953, -0.9836342)
('reading', 'uk') -> (51.4514953, -0.9836342)
(50.9445139, -0.0622673)
('sussex', 'uk') -> (50.9445139, -0.0622673)
(51.7704679, 0.4646698)
('essex', 'uk') -> (51.7704679, 0.4646698)
(51.3813864, -2.3596963)
('bath', 'uk') -> (51.3813864, -2.3596963)
(51.2715316, -0.3414524)
('surrey', 'uk') -> (51.2715316, -0.3414524)
(50.7256138, -3.5269209)
('exeter', 'uk') -> (50.7256138, -3.5269209)
(51.2070748, 0.7210362)
('kent', 'uk') -> (51.2070748, 0.7210362)
(56.4605938, -2.97019)
('dundee', 'uk') -> (56.4605938, -2.97019)
(55.8618812, -4.2419566)
('strathclyde', 'uk') -> (55.8618812, -4.2419566)
(55.9102958, -3.3234475)
('heriot-watt', 'uk') -> (55.9102958, -3.3234475)
(52.7723859, -1.2077985)
('loughborough', 'uk') -> (52.7723859, -1.2077985)
(51.3970056, 0.5323455)
('brunel', 'uk') -> (51.3970056, 0.5323455)
(53.4092381, -2.9839443)
('queen mary', 'uk') -> (53.4092381, -2.9839443)
(53.7623862, -0.3301214)
('hull', 'uk') -> (53.7623862, -0.3301214)
(54.5742432, -6.9481599)
('ulster', 'uk') -> (54.5742432, -6.9481599)
(52.4081812, -1.510477)
('coventry', 'uk') -> (52.4081812, -1.510477)
(51.5004439, -0.1265398)
('westminster', 'uk') -> (51.5004439, -0.1265398)
(44.3054151, -76.4283781)
('kingston', 'canada') -> (44.3054151, -76.4283781)
(42.2858536, -82.9780695)
('windsor', 'canada') -> (42.2858536, -82.9780695)
(46.3432325, -72.5428485)
('trois-rivieres', 'canada') -> (46.3432325, -72.5428485)
(48.406414, -89.259796)
('thunder bay', 'canada') -> (48.406414, -89.259796)
(46.49272, -80.991211)
('sudbury', 'canada') -> (46.49272, -80.991211)
(52.2609997, -7.1119081)
('waterford', 'ireland') -> (52.2609997, -7.1119081)
(45.5202471, -122.674194)
('portland', 'usa') -> (45.5202471, -122.674194)
(54.2720696, -8.4751357)
('sligo', 'ireland') -> (54.2720696, -8.4751357)
(53.4228434, -7.9425897)
('athlone', 'ireland') -> (53.4228434, -7.9425897)
(63.4304475, 10.3952118)
('trondheim', 'norway') -> (63.4304475, 10.3952118)
(60.2049651, 24.6559808)
('espoo', 'finland') -> (60.2049651, 24.6559808)
(60.3943055, 5.3259192)
('bergen', 'norway') -> (60.3943055, 5.3259192)
(61.4980214, 23.7603118)
('tampere', 'finland') -> (61.4980214, 23.7603118)
(55.3997225, 10.3852104)
('odense', 'denmark') -> (55.3997225, 10.3852104)
(69.6516345, 18.9558585)
('tromsø', 'norway') -> (69.6516345, 18.9558585)
(60.4517531, 22.2670522)
('turku', 'finland') -> (60.4517531, 22.2670522)
(58.9699675, 5.7318101)
('stavanger', 'norway') -> (58.9699675, 5.7318101)
(65.0117869, 25.4701983)
('oulu', 'finland') -> (65.0117869, 25.4701983)
(55.6433478, 12.0819247)
('roskilde', 'denmark') -> (55.6433478, 12.0819247)
(59.6792808, 10.7741636)
('ås', 'norway') -> (59.6792808, 10.7741636)
(63.0957722, 21.6159187)
('vaasa', 'finland') -> (63.0957722, 21.6159187)
(55.7718649, 12.5051413)
('lyngby', 'denmark') -> (55.7718649, 12.5051413)
(67.2844313, 14.3817503)
('bodø', 'norway') -> (67.2844313, 14.3817503)
(62.2417066, 25.7495727)
('jyväskylä', 'finland') -> (62.2417066, 25.7495727)
(55.4894999, 9.47905)
('kolding', 'denmark') -> (55.4894999, 9.47905)
(60.8721617, 10.5038864)
('gjøvik', 'norway') -> (60.8721617, 10.5038864)
(61.0583713, 28.1862742)
('lappeenranta', 'finland') -> (61.0583713, 28.1862742)
(53.0758196, 8.8071646)
('bremen', 'germany') -> (53.0758196, 8.8071646)
(55.4664892, 8.4520751)
('esbjerg', 'denmark') -> (55.4664892, 8.4520751)
(58.0856276, 7.931858)
('kristiansand', 'norway') -> (58.0856276, 7.931858)
(62.8924601, 27.6781839)
('kuopio', 'finland') -> (62.8924601, 27.6781839)
(55.4061196, 11.3525415)
('slagelse', 'denmark') -> (55.4061196, 11.3525415)
(59.4101728, 10.4437392)
('horten', 'norway') -> (59.4101728, 10.4437392)
(62.6005753, 29.7622128)
('joensuu', 'finland') -> (62.6005753, 29.7622128)
(56.1379757, 8.9746623)
('herning', 'denmark') -> (56.1379757, 8.9746623)
(-41.2887953, 174.7772114)
('wellington', 'new zealand') -> (-41.2887953, 174.7772114)
(59.8586126, 17.6387436)
('uppsala', 'sweden') -> (59.8586126, 17.6387436)
(41.1494512, -8.6107884)
('porto', 'portugal') -> (41.1494512, -8.6107884)
(-43.530955, 172.6364343)
('christchurch', 'new zealand') -> (-43.530955, 172.6364343)
(57.7072326, 11.9670171)
('gothenburg', 'sweden') -> (57.7072326, 11.9670171)
(40.2111931, -8.4294632)
('coimbra', 'portugal') -> (40.2111931, -8.4294632)
(-45.8740984, 170.5035755)
('dunedin', 'new zealand') -> (-45.8740984, 170.5035755)
(41.5510583, -8.4280045)
('braga', 'portugal') -> (41.5510583, -8.4280045)
(-37.7878809, 175.281788)
('hamilton', 'new zealand') -> (-37.7878809, 175.281788)
(58.4098135, 15.6245252)
('linköping', 'sweden') -> (58.4098135, 15.6245252)
(40.640496, -8.6537841)
('aveiro', 'portugal') -> (40.640496, -8.6537841)
(-40.356317, 175.6112388)
('palmerston north', 'new zealand') -> (-40.356317, 175.6112388)
(63.8256568, 20.2630745)
('umeå', 'sweden') -> (63.8256568, 20.2630745)
(37.0162727, -7.9351771)
('faro', 'portugal') -> (37.0162727, -7.9351771)
(59.3809146, 13.5027631)
('karlstad', 'sweden') -> (59.3809146, 13.5027631)
(41.5229299, -7.5466312)
('vila real', 'portugal') -> (41.5229299, -7.5466312)
(56.8787183, 14.8094385)
('växjö', 'sweden') -> (56.8787183, 14.8094385)
(32.6496497, -16.9086783)

## Convertendo para json

Mais fácil de trabalhar com json no javascript

In [5]:
import csv
import json

csv_file = 'education_with_coords.csv'
json_file = '../static/education.json'

country_to_continent = {
    'USA': 'North America',
    'Canada': 'North America',
    'Mexico': 'North America',

    'Dominican Republic': 'Central America',
    'Panama': 'Central America',
    'El Salvador': 'Central America',

    'Brazil': 'South America',
    'Argentina': 'South America',
    'Colombia': 'South America',
    'Uruguay': 'South America',
    'Peru': 'South America',
    'Ecuador': 'South America',

    'UK': 'Europe',
    'Germany': 'Europe',
    'Netherlands': 'Europe',
    'France': 'Europe',
    'Switzerland': 'Europe',
    'Sweden': 'Europe',
    'Denmark': 'Europe',
    'Ireland': 'Europe',
    'Austria': 'Europe',
    'Belgium': 'Europe',
    'Portugal': 'Europe',
    'Czech Republic': 'Europe',
    'Poland': 'Europe',
    'Spain': 'Europe',
    'Italy': 'Europe',
    'Finland': 'Europe',
    'Norway': 'Europe',
    'Turkey': 'Europe',
    'Russia': 'Europe',
    'Greece': 'Europe',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'Romania': 'Europe',
    'Luxembourg': 'Europe',
    'Bulgaria': 'Europe',
    'Slovenia': 'Europe',
    'Serbia': 'Europe',
    'Ukraine': 'Europe',
    'Croatia': 'Europe',
    'Cyprus': 'Europe',

    'Australia': 'Oceania',
    'New Zealand': 'Oceania',

    'China': 'Asia',
    'Japan': 'Asia',
    'South Korea': 'Asia',
    'Singapore': 'Asia',
    'Hong Kong': 'Asia',
    'Israel': 'Asia',
    'Taiwan': 'Asia',
    'India': 'Asia',
    'Malaysia': 'Asia',
    'Thailand': 'Asia',
    'UAE': 'Asia',
    'Vietnam': 'Asia',
    'Iran': 'Asia',
    'Uzbekistan': 'Asia',
    'Bangladesh': 'Asia',
    'Saudi Arabia': 'Asia',
    'Kuwait': 'Asia',
    'Lebanon': 'Asia',
    'Bahrain': 'Asia',
    'Indonesia': 'Asia',

    'South Africa': 'Africa',
    'Egypt': 'Africa',
    'Morocco': 'Africa',
    'Nigeria': 'Africa',
    'Ghana': 'Africa',
    'Algeria': 'Africa',
    'Tunisia': 'Africa'
}


data = []

with open(csv_file, encoding='utf-8') as f:
    reader = csv.DictReader(f)
    for row in reader:
        country = row['Country']
        continent = country_to_continent.get(country, 'Unknown')
        row['Continent'] = continent
        data.append(row)

with open(json_file, 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=2)

print(f'Converted {csv_file} to {json_file} with {len(data)} records.')

Converted education_with_coords.csv to ../static/education.json with 907 records.